@model MongoDbProject.Models.Product
@{
    ViewData["Title"] = "RemoveProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="row">
            <form method="post">
                <div class="card">
                    <div class="card-header">
                        <h1>ÜRÜN SİLME SAYFASI</h1>
                    </div>
                    <div class="card-body col-md-12">
                        <label for="ProductName" style="color:black;background-color:white">ÜRÜN ID</label>
                        <input id="ProductName" type="text" asp-for="ProductId" />
                        <br />
                        <br />
                        <div class="card-action">
                            <button class="btn btn-primary">SİL</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

